{{#unless editMode}}
<p class='comment-body'>
  {{model.body}}
</p>

<span class="delete-indicator"
      onClick={{this.attrs.delete-comment}}>
</span>

<span class="edit-indicator"
  onClick={{toggle 'editMode' this}}></span>
{{else}}
  
  {{x-textarea 
    value=model.body
    disabled=(not saveComment.isIdle)}}
  
  {{!-- Tasks are not triggered with the action helper, but with a helper called 'perform' passing the taskName (note it is not a string, just the actual task).
  If you are programmatically (in js land) kicking a task you can do 'this.get('taskName').perform()'
  NOTE: One thing that ember-concurrency also brings is the property 'isIdle', which lets us know the task is running or doing nothing--}}
  <button class="btn"
    disabled={{not saveComment.isIdle}}
    onClick={{perform saveComment}}>Save</button>
{{/unless}}
{{#if model.updatedAt}}
  <span class="posted-at">
    {{moment-from-now model.updatedAt}}
  </span>
{{/if}}